p {font-family: 'Times New Roman', Times, Serif;
font-size: 16px;
}

header {
  height: 350px;
  background: url("backyard view.jpg");
  background-size: cover;
}
h2 {text-align: center;
color: darkgreen;}
header {
  border-bottom: 5px, solid, black;
  margin: 5px;
  padding: 5px;
}

nav {text-align: center;}

h1 {color: black;
  font-size: 32px;
  font-family: 'Times New Roman', Times, Serif;
  text-align: center;
}

h3 {text-align: center;
color: midnightblue;}
div {text-align: center;}
ul{
  display: inline-block;
  text-align:left;
}
ol {display: inline-block;
  text-align:left;}
a:link    { color: blue;  }
a:visited { color: purple;   }
a:hover   { color: green; }
a:active  { color: pink;  }
